<ng-container *ngIf="!loggedUser">
  Username:
  <input type="text" [(ngModel)]="username" (keyup.enter)="login()">
  Password:
  <input type="password" [(ngModel)]="password" (keyup.enter)="login()">
  <button class="btn btn-primary" (click)="login()">Login</button>
</ng-container>

<ng-container *ngIf="isCustomer()">
  <span>Welcome Customer {{ this.loggedUser.user.username }}!</span>
</ng-container>

<ng-container *ngIf="isEmployee()">
  <span>Welcome Employee {{ this.loggedUser.user.username }}!</span>
</ng-container>

<ng-container *ngIf="isAdmin()">
  <span>Welcome Admin {{ this.loggedUser.user.username }}!</span>
</ng-container>

<ng-container *ngIf="loggedUser">
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</ng-container>


  <!-- <ng-template #display>
      <div *ngIf="isCustomer()">
        <span>Welcome Customer {{ this.loggedUser.user.username }}!</span>
      </div>
      <div *ngIf="isEmployee()">
        <span>Welcome Employee {{ this.loggedUser.user.username }}!</span>
      </div>
      <div *ngIf="isAdmin()">
        <span>Welcome Admin {{ this.loggedUser.user.username }}!</span>
      </div>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </ng-template> -->
