

<ul>
    Cart
    <li *ngFor= "let c of cartStuff" value="{{c.id}}">
      {{c.card.name}},
      {{c.card.set}},
      <input type="number" (keyup.enter)="update(c.id, c.quantity)" [(ngModel)]="c.quantity">
      {{c.unitPrice/100}}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button (click)="remove(c.id)">[x]</button>
    </li>
    Total:${{total}}
  </ul>


<button class="btn btn-info" (click)="purchase()">Purchase</button>
