
  <ul>
    <li *ngFor= "let d of data" value="{{d.id}}">
     <img src={{d.card.imageUrl}} width="150" height="200" align = "left"/>
     <p >
      {{d.card.name}},
      {{d.card.set.name}},
      {{d.card.rarity.name}}</p>
      <ul>
        <li *ngFor= "let t of d.card.type" value="{{t.id}}">
        {{t.name}}
        </li>
      </ul>
      <p>
      {{d.card.text}},
      Price:$
      {{d.card.price/100}} 
      </p>
      <input type="number" [(ngModel)]="d.quantity">
      <button (click)="addCart(d.id, d.quantity)" >Add to Cart </button>
    <div ng-if="userRole == EMPLOYEE"> 
    <button ng-click="addStock()">add stock</button>
    </div>
    </li>
    
    
  </ul>

