<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="cart" routerLink="/cart">Cart</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="inventory" routerLink="/inventory">Inventory</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class = "invoice-list" routerLink="/invoice-list" *ngIf="isEmployee() || isCustomer()">Invoice List</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="Magic.jpg" routerLink="/home">&nbsp;&nbsp;&nbsp;&nbsp;
    <app-login></app-login>
    </div>
</nav>