<form>
  Name: <input type="text" name="name" [(ngModel)]="card.name"/> {{card.name}}<br/>
  Text: <input type="text" name="text" [(ngModel)]="card.text"/> {{card.text}}<br/>
  image URL: <input type="text" name="card.imageUrl" [(ngModel)]="card.imageUrl"/> {{card.imageUrl}}<br/>
  Price: <input type="number" name="price" [(ngModel)]="card.price"/> {{card.price}}<br/>
  Converted Mana Cost <input type="number" name="convertedManaCost" [(ngModel)]="card.convertedManaCost"/> {{card.convertedManaCost}}<br/>
  <app-card-rarity-selector></app-card-rarity-selector>
  <app-card-set-selector></app-card-set-selector> <br/>
  <app-card-color-selector></app-card-color-selector>
  <app-card-type-selector></app-card-type-selector>
  <br/>
  <br/>
  Quantity: <input type="number" name="quantity" [(ngModel)]="quantity"/> {{quantity}}
  <button class="btn btn-primary" (click)="addCard()">Add Card</button>
</form>
